 .Container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 60px;
  background: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

  :hover {
      color: rgb(0, 87, 128);
      transition: 200ms ease-in;
  }

   
